<center>
    <table cellpadding="16" cellspacing="0" style="margin:auto; border: 3px solid black; border-color: #8344a9;">
        <tbody>
            <tr>
                <td align="center" bgcolor="#f5e6ff">
                <p style="text-align: center;">New analysis from <em>The Cook Political&nbsp;Report:</em><br />
                <br />
                <strong>Just four states (worth 56 [electoral] votes) are considered Toss-Ups [in 2024]: Arizona, <strong style="color: #8344a9">Georgia,</strong> Pennsylvania, and Wisconsin.</strong></p>
    
                <center>
                <table cellpadding="6" cellspacing="6" style="margin:auto; border=0">
                    <tbody>
                        <tr>
                            <td align="center" bgcolor="#e98321" style="padding:0px;" width="260"><a href="https://secure.actblue.com/donate/ff-aug23-tossup" name="URL2" style="font-size: 23px; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; line-height:150%; -webkit-border-radius:3px;width: 260px;padding:15px;" target="_blank">DONATE TO PROTECT THE VOTE IN&nbsp;GEORGIA</a></td>
                        </tr>
                    </tbody>
                </table>
                </center>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p style="text-align: left;">{{if FirstName}}{{FirstName}},</p>
    
    <p style="text-align: left;">{{end}}It’s clear: Democrats will depend on Georgia for a victory in 2024. And right now, it’s up for grabs as&nbsp;one of just four states that are considered&nbsp;“toss-ups.”</p>
    </center>
    
    <p>Republicans like Brian Kemp and Brad Raffensperger know the stakes here, which is why they’re supporting measures that restrict access to the ballot box in Georgia. So right now, we’re kicking our organizing efforts into high gear to help voters make their voices heard and elect voting rights champions up and down the&nbsp;ballot.</p>
    
    <p><strong>That includes…</strong></p>
    
    <p>☑️ Building a large-scale organizing&nbsp;program<br />
    ☑️ Reaching voters with accurate and educational voting&nbsp;information<br />
    ☑️ Responding to issues at polling&nbsp;locations<br />
    ☑️ Supporting voter education and access efforts on college&nbsp;campuses<br />
    ☑️ Recruiting and training new&nbsp;volunteers</p>
    
    <p>…and more!</p>
    
    <p><strong><u><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount={{round_min_max(HighestPreviousContributionAmount or '25',1,5,250)}}">{{if FirstName}}{{FirstName}}, w{{else}}W{{end}}ill you rush a donation of ${{round_min_max(HighestPreviousContributionAmount,1,5,250) or '25'}} or any amount that makes sense for you to elect pro-voter champions up and down the ballot and support Fair Fight’s organizing efforts ahead of the critical 2024 election&nbsp;cycle?</a></u></strong></p>
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:60%; width:260px;" width="90%;">
        <tbody>
            <tr align="center">
                <td align="center" style="padding-top:4px; padding-bottom:4px; padding-right: 4px; width: 45%;"><!-- white space between buttons edited here-->
                <center><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount=5&amp;express_lane=true" style="background-color:#e98321;color:#ffffff;padding:10px 16px 10px 16px;font-size:20px;text-decoration:none; font-weight:bold; width: 130px; display: block;">Chip in $5</a></center>
                </td>
                <td align="center" style="padding-top:4px; padding-bottom:4px; padding-right: 4px; width: 45%;">
                <center><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount=25&amp;express_lane=true" style="background-color:#e98321;color:#ffffff;padding:10px 16px 10px 16px;font-size:20px;text-decoration:none; font-weight:bold; width: 130px; display: block;">Chip in $25</a></center>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:60%; width:260px;" width="90%">
        <tbody>
            <tr align="center">
                <td align="center" style="padding-top:4px; padding-bottom:4px; padding-right: 4px; width: 45%;"><!-- white space between buttons edited here-->
                <center><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount=50&amp;express_lane=true" style="background-color:#e98321;color:#ffffff;padding:10px 16px 10px 16px;font-size:20px;text-decoration:none; font-weight:bold; width: 130px; display: block;">Chip in $50</a></center>
                </td>
                <td align="center" style="padding-top:4px; padding-bottom:4px; padding-right: 4px; width: 45%;">
                <center><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount=100&amp;express_lane=true" style="background-color:#e98321;color:#ffffff;padding:10px 16px 10px 16px;font-size:20px;text-decoration:none; font-weight:bold; width:130px; display: block;">Chip in $100</a></center>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table align="center" border="0" cellpadding="0" cellspacing="0" style=" max-width:60%; width:260px;" width="90%">
        <tbody>
            <tr align="center">
                <td align="center" style="padding-top:4px; padding-bottom:4px; padding-right: 4px; width: 45%;"><!-- white space between buttons edited here-->
                <center><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount=250&amp;express_lane=true" style="background-color:#e98321;color:#ffffff;padding:10px 16px 10px 16px;font-size:20px;text-decoration:none; font-weight:bold; width: 130px; display: block;">Chip in $250</a></center>
                </td>
                <td align="center" style="padding-top:4px; padding-bottom:4px; padding-right: 4px; width: 45%;">
                <center><a href="https://secure.actblue.com/donate/ff-aug23-tossup?amount=&amp;express_lane=true" style="background-color:#e98321;color:#ffffff;padding:10px 16px 10px 16px;font-size:20px;text-decoration:none; font-weight:bold; width: 130px; display: block;">Other</a></center>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>One vote at a time, let’s protect access to the ballot box in&nbsp;Georgia.</p>
    
    <p>Thanks for all you do,</p>
    
    <p>The Fair Fight Team</p>
    